*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: darkgreen;
}

@font-face {
  font-family: 'Bebon';
  src: url('BebonVF.woff') format('woff-variations');
}

:root{
	--wght: 100;
	--wdth: 100;
	--XHGT: 100;

	--color: antiquewhite;
}
body{
	font-family: 'Arial';
	font-weight: 100;
	font-style: normal;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 4rem;
	color:  var(--color);
}

.magmatic, .magmatic *{
	font-variation-settings: 'wdth' var(--wdth);
}

section{
	margin: 3rem 0;
}


#intro{
	font-family: 'Bebon';
	font-size:14vw;
	line-height: 0.9;
	text-align: center;
}

#content{
	font-family: 'Bebon';
	width: 33em;
	height: 500px;
	margin: auto;
	font-weight: 100;
}

#content p{
	transition: font-variation-settings 400ms ease-in-out;
}

/*SLIDER STYLES*/

#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.range-name, .min, .max{
	width: 100px;
}
.min{
	text-align: right;
}
.range-name::after{
	content: ': ';
}

input.axis-range{
	width: 580px;
	margin: 0 20px;
}


/*BUTTON STYLES*/

#buttons{
	text-align: center;
}
button{
	font-family: 'Arial';
	font-variation-settings: 'wdth' 100;
	font-size: 1em;
	background: white;
	border-radius: 50%;
	outline: none;
	border: 2px solid black;
	padding: 1em;
}
button:hover{
	color: olivedrab;
	cursor: pointer;
}
